@charset "UTF-8";
html {
  font-size: 12px;
  font-family: "Montserrat", "Nanum Gothic", sans-serif;
}

body {
  line-height: 1.6;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

/*
	속성값[inherit]
		: 부모영역에 설정된 값과 동일하게 설정한다는 값으로
		텍스트관련 스타일 대부분의 기본값으로 지정되어 있다.
*/
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  color: #fff;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}
header .inner {
  padding: 0 100px;
}
header a:hover {
  color: #20bec6;
}
header #logo {
  margin: 18px 50px 0 15px;
  float: left;
}
header #logo a {
  width: 100px;
  height: 28px;
  text-indent: -9999px;
  background: url("../images/logo.png") no-repeat;
  background-size: 100% auto;
  transition: all 0.2s ease-in-out;
}
header #logo a:hover {
  background-position: 0 bottom !important;
}
header.scrolled {
  background: #fff;
  color: #333;
  padding: 0;
  border-bottom: 1px solid #eee;
}
header.scrolled #logo a {
  background-position: 0 -28px;
}
header.scrolled #gnb a::after {
  background: #333;
}

#btns {
  float: right;
  margin-top: 8px;
}
#btns li {
  float: left;
  padding: 15px 5px;
}

.open_search {
  position: relative;
}
.open_search span {
  position: absolute;
  background: #000;
  color: #fff;
  top: 50px;
  left: -12px;
  padding: 2px 8px;
  border-radius: 3px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}
.open_search span::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -5px;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: #000 transparent;
}
.open_search:hover span {
  opacity: 1;
  visibility: visible;
}

.open_menu {
  display: none;
  position: relative;
  z-index: 101;
}
.open_menu i {
  float: left;
}
.open_menu .xi-close {
  display: none;
}
.open_menu span {
  float: right;
  font-size: 10px;
  line-height: 1.1;
  padding: 2px 0 0 5px;
}
.open_menu.show {
  color: #fff;
}
.open_menu.show .xi-bars {
  display: none;
}
.open_menu.show .xi-close {
  display: inline;
}

#gnb li {
  float: left;
  margin-top: 8px;
}
#gnb a {
  font-weight: bold;
  width: 70px;
  padding: 15px;
}
#gnb a::after {
  content: "";
  display: block;
  background: #fff;
  height: 2px;
  width: 0;
  transition: all 0.2s ease-in-out;
}
#gnb a:hover::after {
  width: 100%;
}
#gnb .sub {
  display: none;
  padding-bottom: 20px;
}
#gnb .sub li {
  float: none;
  margin: 0 0 0 15px;
}
#gnb .sub a {
  font-weight: normal;
  padding: 0;
  font-size: 10px;
  white-space: nowrap;
}
#gnb .sub a::after {
  display: none;
}
#gnb .sub a:hover {
  text-decoration: underline;
}
#gnb:hover .sub {
  display: block;
}

#sns {
  float: right;
}
#sns li {
  float: left;
  margin-top: 8px;
}
#sns a {
  padding: 15px 5px;
}

#search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1, 1.1);
  transition: all 0.3s;
}
#search.show {
  opacity: 1;
  visibility: visible;
  transform: scale(1, 1);
}
#search .inner {
  width: 50%;
}
#search input {
  width: 100%;
  font-size: 7vw;
  padding: 0 0.1em;
  background: none;
  box-sizing: border-box;
  border: 0;
  border-bottom: 2px solid #5abcc4;
  outline: none;
  color: #5abcc4;
}
#search input::-moz-placeholder {
  color: #222;
}
#search input:-ms-input-placeholder {
  color: #222;
}
#search input::placeholder {
  color: #222;
}
#search p {
  color: #5abcc4;
  font-size: 90%;
  font-weight: bold;
  padding: 0.85em 0;
  text-align: right;
}
#search .close_search {
  position: absolute;
  top: 1.25em;
  right: 1.25em;
  font-size: 2.5em;
  padding: 10px;
  color: #5abcc4;
  cursor: pointer;
}
#search .close_search i {
  transition: all 0.3s;
}
#search .close_search:hover i {
  transform: rotate(90deg);
}

#main_view {
  background: #000;
  overflow: hidden;
}
#main_view .slider {
  display: flex;
  height: 100vh;
}
#main_view .slider article {
  width: 100%;
  flex-shrink: 0;
  position: relative;
  background: no-repeat center center;
  background-size: cover;
}
#main_view .slider article::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}
#main_view .slider .view1 {
  background-image: url("../images/view01.jpg");
}
#main_view .slider .view2 {
  background-image: url("../images/view02.jpg");
}
#main_view .slider .view3 {
  background-image: url("../images/view03.jpg");
}
#main_view .slider .view4 {
  background-image: url("../images/view04.jpg");
}
#main_view .slider .view5 {
  background-image: url("../images/view05.jpg");
}
#main_view .slider .view6 {
  background-image: url("../images/view06.jpg");
}
#main_view .slider .text {
  position: absolute;
  bottom: 120px;
  left: 120px;
  color: #fff;
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
#main_view .slider .text h3 {
  font-size: 50px;
  line-height: 1.1;
}
#main_view .slider .text p {
  font-size: 18px;
  padding: 20px 0;
  margin-bottom: 10px;
}
#main_view .slider .text a {
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #fff;
}
#main_view .slider .text a:hover {
  background: #fff;
  color: #000;
}
#main_view .slider .text i {
  padding-left: 6px;
}
#main_view .slider .swiper-slide-active .text {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.4s;
}
#main_view .pager {
  position: absolute;
  bottom: 16px;
  left: 50%;
  z-index: 10;
  transform: translateX(-5%);
}
#main_view .pager span {
  display: block;
  float: left;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
}
#main_view .pager span.active {
  background: #fff;
}

#works {
  padding-bottom: 100px;
  border-bottom: 1px solid #eee;
}
#works h3 {
  margin: 50px 120px;
  font-size: 20px;
  font-weight: bold;
}
#works h3 a:hover {
  text-decoration: underline;
}
#works .list {
  display: flex;
  flex-wrap: wrap;
  /************************************************************
  li:nth-child(1)::before{
  	background-image:url("../images/works/work01.jpg");}
  li:nth-child(2)::before{
  	background-image:url("../images/works/work02.jpg");}
  li:nth-child(3)::before{
  	background-image:url("../images/works/work03.jpg");}
  .....
  *************************************************************/
}
#works .list li {
  background: #000;
  border: 1px solid #fff;
  /*flex-grow:0; flex-shrink:0; flex-basis:25%;*/
  flex: 0 0 25%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
#works .list li::before {
  content: "";
  display: block;
  padding-bottom: 56%;
  background: no-repeat center center;
  background-size: cover;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}
#works .list li:nth-child(1)::before {
  background-image: url("../images/works/work01.jpg");
}
#works .list li:nth-child(2)::before {
  background-image: url("../images/works/work02.jpg");
}
#works .list li:nth-child(3)::before {
  background-image: url("../images/works/work03.jpg");
}
#works .list li:nth-child(4)::before {
  background-image: url("../images/works/work04.jpg");
}
#works .list li:nth-child(5)::before {
  background-image: url("../images/works/work05.jpg");
}
#works .list li:nth-child(6)::before {
  background-image: url("../images/works/work06.jpg");
}
#works .list li:nth-child(7)::before {
  background-image: url("../images/works/work07.jpg");
}
#works .list li:nth-child(8)::before {
  background-image: url("../images/works/work08.jpg");
}
#works .list li:nth-child(9)::before {
  background-image: url("../images/works/work09.jpg");
}
#works .list li:nth-child(10)::before {
  background-image: url("../images/works/work10.jpg");
}
#works .list li:nth-child(11)::before {
  background-image: url("../images/works/work11.jpg");
}
#works .list li:nth-child(12)::before {
  background-image: url("../images/works/work12.jpg");
}
#works .list li:hover::before {
  opacity: 1;
  transform: scale(1.12, 1.12);
}
#works .list a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}
#works .list h4 {
  position: absolute;
  left: 20px;
  bottom: 30px;
  font-size: 18px;
  letter-spacing: -1px;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s ease-in-out;
}
#works .list li:hover h4 {
  bottom: 41px;
}
#works .list p {
  position: absolute;
  left: 20px;
  bottom: 15px;
}
#works .more {
  display: block;
  margin: 50px auto 0;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  color: #222;
  border: 1px solid #222;
}
#works .more:hover {
  background: #222;
  color: #fff;
}

#about {
  background: url("../images/twoply-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  text-align: center;
}
#about .inner {
  padding: 100px 0;
  background: rgba(0, 0, 0, 0.5);
}
#about h3 {
  font-size: 30px;
  line-height: 1.1;
  margin-bottom: 30px;
}
#about p {
  width: 50%;
  margin: 0 auto 30px;
  font-size: 24px;
  line-height: 1.42;
  word-break: keep-all;
}
#about a {
  width: 300px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  border: 1px solid #fff;
}
#about a:hover {
  background: #fff;
  color: #222;
}

#press {
  background: #eee;
  padding: 50px 0;
}
#press h3 {
  margin: 0 0 50px 120px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
#press h3 a:hover {
  text-decoration: underline;
}
#press .inner {
  padding: 20px 50px;
  overflow: hidden;
}
#press .slider {
  display: flex;
}
#press .slider li {
  flex-shrink: 0;
}
#press .slider .box {
  background: #fff;
  transition: all 0.2s ease-in-out;
}
#press .slider .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 30px #aaa;
}
#press .slider img {
  width: 100%;
}
#press .slider h4 {
  padding: 10px 15px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#press .slider h4:hover {
  color: #20bec6;
}
#press .slider h4 + p {
  padding: 0 15px 10px;
  font-size: 10px;
}
#press .slider .more {
  display: block;
  max-width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  color: #222;
  margin: 0 auto;
  border: 1px solid #222;
}
#press .slider .more:hover {
  background: #222;
  color: #fff;
}
#press .dot {
  padding-top: 40px;
  text-align: center;
}
#press .dot span {
  display: inline-block;
  margin: 0 5px;
  width: 8px;
  height: 8px;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.3;
}
#press .dot span.active {
  opacity: 1;
}

#partners {
  padding: 100px 0;
}
#partners h3 {
  font-size: 20px;
  line-height: 1.1;
  font-weight: bold;
  text-align: center;
}
#partners ul {
  max-width: 1140px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
}
#partners li {
  flex: 0 0 20%;
}
#partners img {
  width: 100%;
  opacity: 0.3;
  transition: all 0.5s ease_out;
}
#partners img:hover {
  opacity: 1;
}

footer {
  background: #000;
  color: #999;
}
footer .inner {
  height: 150px;
  padding: 50px 120px;
  line-height: 1.4;
  display: flex;
}
footer .logo {
  width: 30%;
}
footer .logo img {
  width: 100px;
}
footer .info {
  width: 35%;
  padding-left: 20px;
}
footer .info dt {
  font-size: 20px;
  margin-bottom: 30px;
}
footer .info dd {
  margin-bottom: 5px;
}
footer .copyright {
  padding: 20px 120px;
  border-top: 1px solid #222;
}
footer .copyright p {
  margin: 10px 0;
  font-size: 10px;
}

/*태블릿환경 : 화면의 너비가 1024px이하인 경우*/
@media (max-width: 1024px) {
  header .inner {
    padding: 0 50px;
  }

  #main_view .slider .text {
    left: 60px;
  }

  #works .list li {
    flex-basis: 50%;
  }
  #works .list li::before {
    opacity: 0.7;
  }
  #works .list h4 {
    font-size: 28px;
    font-weight: normal;
  }
}
/*모바일환경 : 화면의 너비가 768px이하인 경우*/
@media (max-width: 768px) {
  header {
    padding: 0;
  }
  header .inner {
    padding: 0 25px;
  }
  header #logo {
    margin-left: 0;
  }
  header .open_menu {
    display: inline-block;
  }
  header .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background: #000;
    padding: 0 50px;
    box-sizing: border-box;
    transform: translateY(-100%);
    visibility: hidden;
    transition: all 0.2s ease-in-out;
  }
  header .menu.show {
    transform: translateY(0);
    visibility: visible;
  }
  header .menu.show #gnb > ul > li {
    transform: translateY(0);
    visibility: visible;
  }
  header .menu #gnb {
    padding-top: 50px;
  }
  header .menu #gnb > ul > li {
    float: none;
    margin-bottom: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid #333;
    transform: translateY(-100px);
    visibility: hidden;
    transition: all 0.1s ease-out;
  }
  header .menu #gnb > ul > li:nth-child(1) {
    transition-delay: 0.45s;
  }
  header .menu #gnb > ul > li:nth-child(2) {
    transition-delay: 0.4s;
  }
  header .menu #gnb > ul > li:nth-child(3) {
    transition-delay: 0.35s;
  }
  header .menu #gnb > ul > li:nth-child(4) {
    transition-delay: 0.3s;
  }
  header .menu #gnb > ul > li:nth-child(5) {
    transition-delay: 0.25s;
  }
  header .menu #gnb > ul > li:nth-child(6) {
    transition-delay: 0.2s;
  }
  header .menu #gnb > ul > li > a {
    font-size: 22px;
    width: auto;
    padding: 5px 0 10px;
    line-height: 0.8;
  }
  header .menu #gnb > ul > li > a::after {
    display: none;
  }
  header .menu #gnb .sub {
    display: block;
    color: #555;
    padding: 0 0 0 10px;
  }
  header .menu #gnb .sub li {
    list-style: disc;
  }
  header .menu #gnb .sub a {
    font-size: 16px;
    line-height: 1;
  }
  header .menu #sns {
    float: none;
    font-size: 14px;
  }
  header .menu #sns li {
    width: 33%;
  }

  #search .inner {
    width: 66%;
  }
  #search span {
    display: none;
  }

  #main_view .slider .text {
    left: 0;
    padding-left: 40px;
    bottom: 80px;
  }
  #main_view .slider .text h3 {
    font-size: 40px;
  }

  #works h3 {
    margin-left: 30px;
  }
  #works .list {
    display: block;
    margin: 0 20px;
  }
  #works .list li {
    margin-bottom: 20px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 15px #ccc;
  }
  #works .list li:hover::before {
    transform: none;
  }

  #about p {
    width: 92%;
    padding: 20px 4%;
    font-size: 16px;
    margin: 0;
  }

  #press h3 {
    margin-left: 30px;
  }
  #press .inner {
    padding: 20px;
  }

  #partners ul {
    padding: 50px 20px;
  }
  #partners li {
    flex-basis: 50%;
  }
  #partners img {
    opacity: 1;
  }

  footer .inner {
    padding: 50px 20px;
    height: auto;
  }
  footer .copyright {
    padding: 20px;
    text-align: center;
  }
}
/*모바일환경 : 화면의 너비가 420px이하인 경우*/
@media (max-width: 420px) {
  #main_view {
    border-bottom: 1px solid #eee;
  }
  #main_view .slider .text {
    color: #000;
    bottom: 0;
    padding-left: 20px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
  }
  #main_view .slider .text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    background: #fff;
    transform: skewY(10deg);
    z-index: -1;
  }
  #main_view .slider .text h3 {
    order: 2;
    font-size: 30px;
    line-height: 1.3;
    transform: translateY(100px);
    transition: all 0.5s ease-out 0.4s;
  }
  #main_view .slider .text p {
    order: 3;
    font-size: 14px;
    margin: 0;
    padding: 0 0 15px;
    transform: translateY(100px);
    transition: all 0.5s ease-out 0.5s;
  }
  #main_view .slider .text a {
    order: 1;
    font-size: 12px;
    text-align: left;
    height: auto;
    line-height: 3;
    border: 0;
  }
  #main_view .slider .swiper-slide-active .text h3,
#main_view .slider .swiper-slide-active .text p {
    transform: translateY(0);
  }
  #main_view .pager {
    left: auto;
    right: 15px;
    transform: none;
  }
  #main_view .pager span {
    border-color: #000;
  }
  #main_view .pager span.active {
    background: #000;
  }

  footer .inner {
    flex-wrap: wrap;
  }
  footer .logo {
    width: calc(100% - 20px);
    padding: 0 0 20px 20px;
  }
  footer .info {
    width: calc(50% - 20px);
  }
}/*# sourceMappingURL=style.css.map */