<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezen.maru.pjt.qna">

  <insert id="writeQna" parameterType="qnaVo">
    INSERT INTO product_qna (
    product_idx, member_idx, content
    ) VALUES (
    #{product_idx}, #{member_idx}, #{content}
    )
  </insert>

  <update id="markAnswered" parameterType="qnaVo">
    UPDATE product_qna
    SET
    isAnswered = 'Y'
    WHERE
    idx = #{parent_idx}
  </update>

  <insert id="writeAnswer" parameterType="qnaVo">
    INSERT INTO product_qna (
    parent_idx, product_idx, member_idx, content
    ) VALUES (
    #{parent_idx}, #{product_idx}, #{member_idx}, #{content}
    )
  </insert>

  <!-- SELECT DATE_FORMAT(qna_date,'%Y%m%d%H%i') as qna_date, -->
  <select id="getQnaList" resultType="qnaVo">
    SELECT *
    FROM product_qna q
    INNER JOIN member_info m
    ON q.member_idx = m.member_idx
    WHERE q.product_idx = #{product_idx}
    and q.deleted_yn = 'N' and parent_idx is null
    order by q.idx desc
  </select>

  <select id="getAnswerList" resultType="qnaVo">
    SELECT *
    FROM product_qna q
    INNER JOIN member_info m
    ON q.member_idx = m.member_idx
    WHERE q.product_idx = #{product_idx}
    and q.deleted_yn = 'N' and parent_idx is not null
    order by q.idx desc
  </select>

  <select id="getAllQuestionList" resultType="qnaVo">
    SELECT date_format(wdate,'%Y.%m.%d %H:%i') as wdate, product_name, content, member_id, isAnswered, q.idx, q.product_idx, q.parent_idx
    FROM product_qna q
    inner join product p
    on q.product_idx = p.product_idx
    INNER JOIN member_info m
    ON q.member_idx = m.member_idx
    WHERE q.deleted_yn = 'N' and parent_idx is null and isAnswered = 'N'
    order by q.idx desc
  </select>

  <select id="getQnaListMember" resultType="qnaVo">
    SELECT *
    FROM product_qna q
    INNER JOIN member_info m
    ON q.member_idx = m.member_idx
    inner join product p
    on q.product_idx = p.product_idx
    WHERE q.member_idx = #{member_idx}
    and q.deleted_yn = 'N' and parent_idx is null
    order by q.idx desc
  </select>

  <update id="editQna" parameterType="qnaVo">
    UPDATE product_qna
    SET
    content = #{content}
    WHERE
    idx = #{idx} and member_idx = #{member_idx}
  </update>

  <delete id="removeQna" parameterType="qnaVo">
    UPDATE product_qna
    SET
    deleted_yn = 'Y'
    WHERE
    idx = #{idx}
  </delete>

</mapper>	