<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezen.maru.pjt.order">
  <insert id="addOrder" parameterType="orderVo">
    INSERT INTO order_log(
    order_total_price, member_idx,
    order_name, order_address, order_address2, order_postcode, order_phone
    )VALUES(
    #{order_total_price}, #{member_idx},
    #{order_name}, #{order_address}, #{order_address2}, #{order_postcode}, #{order_phone}
    )
    <selectKey resultType="int" keyProperty="order_idx" order="AFTER">
      SELECT LAST_INSERT_ID() 
    </selectKey>
  </insert>

  <!-- 오라클은 insert all 쓰고 mysql은 separator=","로 나누는 foreach 반복문 사용함 -->
  <!-- <insert id="addOrderProduct" parameterType="java.util.List"> -->
  <!-- <foreach collection="list" item="item" index="index" open="INSERT ALL " separator=" " close="SELECT * FROM DUAL"> -->
  <!-- into order_product ( -->
  <!-- order_idx, product_idx, order_quantity -->
  <!-- ) values ( -->
  <!-- #{item.order_idx}, #{item.product_idx}, #{item.order_quantity} -->
  <!-- ) -->
  <!-- </foreach> -->
  <!-- </insert> -->

  <insert id="addOrderProduct" parameterType="orderProductVo">
    INSERT INTO order_product (
    order_idx, product_idx, order_quantity
    ) VALUES
    <foreach collection="list" item="orderProduct" index="index" separator=",">
      (
      #{orderProduct.order_idx}, #{orderProduct.product_idx}, #{orderProduct.order_quantity}
      )
    </foreach>
  </insert>

  <!-- 장바구니 안 통하고 한 품목만 바로 구매 -->
  <insert id="addOrderProductOne" parameterType="orderProductVo">
    INSERT INTO order_product (
    order_idx, product_idx, order_quantity
    ) VALUES (
    #{order_idx}, #{product_idx}, #{order_quantity}
    )
  </insert>

  <!-- <update id="addOrderProduct" parameterType="orderVo"> -->
  <!-- INSERT INTO order_product( -->
  <!-- order_idx, product_idx, product_number -->
  <!-- ) VALUES -->
  <!-- <foreach collection="list" item="orderProduct" index="index" open="(" close=")" separator=","> -->
  <!-- #{orderProduct.order_idx}, #{orderProduct.product_idx}, #{orderProduct.order_quantity} -->
  <!-- </foreach> -->
  <!-- </update> -->


  <select id="getOrderList" parameterType="int" resultType="orderVo">
    select * from order_log
    where member_idx = #{member_idx}
  </select>

  <!-- <update id="updateOrder" parameterType="orderVo"> -->
  <!-- UPDATE product_order -->
  <!-- SET -->
  <!-- order_product_number = #{order_product_number} -->
  <!-- WHERE -->
  <!-- member_idx = #{member_idx} and product_idx = #{product_idx} -->
  <!-- </update> -->

  <!-- <delete id="deleteOrder" parameterType="int"> -->
  <!-- delete from product_order -->
  <!-- where -->
  <!-- member_idx = #{member_idx} and product_idx = #{product_idx} -->
  <!-- </delete> -->
</mapper> 