/* 대상{속성:속성값; 속성:속성값;} 하나의 속성이 여러개의 속성값을 가질 수 있음 */

body{background:#FFCCCC;}
h1{background:#CFD; color:blue; border:12px solid #FFAA90;}

/* 색상표기법 
1) 영문 색상
2) 색상 코드
	#000000 : #이후에 6자리의 숫자(16진수)
	디스플레이 장치는 RGB 8bit 컬러를 사용함
	
	8bit : 00000000 ~ 11111111
			(10진수: 0~255)
			(16진수: 0~FF)
			
			red	: 1~2자리
			green: 3~4자리
			blue	: 5~6자리
			
			CSS에서 #FFCC33 = #FC3 축약 가능
*/

