<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0/EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.board.mapper.boardMapper">

	<select id="list" resultType="boardVO" parameterType="searchVO">
		SELECT b.title
		      ,b.bidx
		      ,b.content
		      ,b.regdate
		      ,m.midx
		      ,m.mid
		  FROM board b, member m
		 WHERE b.midx = m.midx
		 <if test="searchValue != null and searchValue neq ''">
		   <if test="searchType eq 'title'">
		   	AND b.title like '%'||#{searchValue}||'%'
		   </if>
		   <if test="searchType eq 'writerId' ">
		   	AND m.mid like '%'||#{searchValue}||'%'
		   </if>
		 </if>
	</select>
	
	<insert id="insert" parameterType="boardVO">
		INSERT INTO board(
			 bidx
			,title
			,midx
			,content
			,regdate
		)VALUES(
			 bidx_seq.nextval
			,#{title}
			,#{midx}
			,#{content}
			,sysdate
		)
	</insert>
	
	<select id="selectOne" parameterType="int" resultType="boardVO">
		SELECT b.title
		      ,b.bidx
		      ,b.content
		      ,b.regdate
		      ,m.midx
		      ,m.mid
		  FROM board b, member m
		 WHERE b.midx = m.midx
		   AND b.bidx = #{bidx}
	</select>
	
	<update id="update" parameterType="boardVO">
		UPDATE  board 
		   SET  title = #{title}
		      , content = #{content}
		 WHERE bidx = #{bidx}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE 
		  FROM board 
		 WHERE bidx=#{bidx} 
	</delete>

</mapper>











